.double-nav,
main,
footer {
    padding-left: 0!important;
}

.hm-white-light .mask, .hm-white-light .full-bg-img {
    background-color: rgba(255, 255, 255, 0);
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}