.card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
    text-align: center;
}

.card.card-cascade h3, 
.card.card-cascade h4, 
{
margin-bottom: 0px;
}

.label{
    color: #757575;
    font-size: 1rem;
    
}