<StackLayout>
    <Label text="MDB Angular Mobile" class="h2 text-center" marginTop="60"></Label>
    <Image
    src="https://mdbootstrap.com/img/Marketing/other/logo/logo-mdb-angular-small.png"
    stretch="none"
    horizontalAlignment="center"
    marginTop="30"
  ></Image>
  <Label textWrap="true" class="text-center" marginTop="30" text="Thank you for using our proudct"></Label>
  <Label class="text-center m-t-20" text="We're glad you're with us."></Label>
  <Label class="text-center m-t-20" text="MDB Team"></Label>
</StackLayout>