.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
  }
  .peach-gradient {
    background: linear-gradient(40deg, #ffc56f, #fc7062);
}
.aqua-gradient {
    background: linear-gradient(40deg, #2096ff, #70eff5);
}