.blue-panel .btn-group .btn-panel {
  background-color: #43a5f7 !important; }
  .blue-panel .btn-group .btn-panel.active {
    background-color: #2d81c7 !important; }

.chart-settings .md-form {
  margin-bottom: 0;
}

mdb-select {
  width: 181px;
}
.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

